
:root {
font-size: 14px;    
--fontSize: min(1.2rem,4vw)
}
p{font-size: min(1.2rem,4vw); ;

}
a{
color: orange;   

}
a:visited{
color: red;
text-decoration:none;
text-decoration-style: none;   
}
#rightSide,
#leftSide{
width: 50vw;
height: 100vh; 
display: flex;
flex-direction: column;
justify-content: center;   
}
#rightSide{
background-image: url(../images/jay-rembert-N-ztJKngIX4-unsplash.jpg);    
}
#pageConatiner{
display: flex;
align-content: center;    
}
#leftSide .content,
.formHolder,
.ButtonHolder{
padding: 2vh 10vh 5vh 5vh ;    
}
.formHolder{
box-shadow: 0px 10px 11px 0px rgba(0,0,0,0.59);
-webkit-box-shadow: 0px 10px 11px 0px rgba(0,0,0,0.59);
-moz-box-shadow: 0px 10px 11px 0px rgba(0,0,0,0.59);

}
.ButtonHolder > p {
font-size: .8rem;    
}
p > a {
font-size: 1rem;    
}
.content > p {
font-size: 1.4rem;    
}
form > button {
margin-top: 2vh;   
width: 20vh; 
height: 4vh;
border-radius: 10px;
background-color: orange;
color: white;
font-size: min(1.2rem,4vw);
border-color: orange;
}
fieldset{
display: flex;
border: none;    
gap: 10%;
}
fieldset > div,
fieldset > div + div {
display: flex;
flex-direction: column;
padding: 0 5% 5% 0; 
width: 15vw;   
}

input{
height: min(1.2rem,4vw); 
width: 100%; 
margin-top: 1vh; 
font-size: var(--fontSize); 
padding: 10px;
border-radius: 4px;
}
label {
font-size:var(--fontSize) ;    
}
input:invalid{
border: 1px solid red;    
}
input:valid,
input:focus:valid{
border: 1px solid green; 
background-color: green;   
}
input:focus{
border: 1px solid rgba(248, 193, 90, 0.784);   
box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.59);
-webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.59);
-moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.59);
outline: none;
}
input:not([required]),
input:not([required]):focus{
border: 1px solid lightgray ;  
background-color: white;  
}


@media only screen and (max-width: 768px)  {
#pageConatiner {
flex-direction: column;    
}
#leftSide {
width: 100vw; 
   
}
#rightSide{
width: 100vw;
height: 40vh;
    
}    
#leftSide .content,
.formHolder,
.ButtonHolder{
 padding: 0 5vh 5vh 5vh ;      
}

#leftside{
margin-bottom: 30%;
}
input {
width: 100%;    
}
fieldset > div,
fieldset > div + div {
width: 100%;    
}
.formHolder{
box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.59);
-webkit-box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.59);
-moz-box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.59);
}
}