:root {
font-size: 14px;    
}
p{font-size: min(1.2rem,4vw); ;

}
a{
color: orange;    
}
a:visited{
color: red;
text-decoration:none;
text-decoration-style: none;   
}
#rightSide,
#leftSide{
width: 50%;
height: 100vh;    
}
#rightSide{
background-image: url(../images/jay-rembert-N-ztJKngIX4-unsplash.jpg);    
}
#pageConatiner{
display: flex;
align-content: center;    
}